force-app/main/default/flows/Add_Tags.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Find_Custom_Name_Value</name>
        <label>Find Custom Name Value</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <actionName>QueryRecordNameAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_varNameValue_Custom</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>nameField</name>
            <value>
                <elementReference>Find_Name_Field</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <elementReference>objectName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_Name_Field</name>
        <label>Find Name Field</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <actionName>FindTagsCustomNames</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Found_Custom_Name_Field</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>objectName</name>
            <value>
                <elementReference>objectName</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_Normal_Name_Field</name>
        <label>Find Normal Name Field</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <actionName>QueryRecordNameAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_varNameValue</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>nameField</name>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <elementReference>objectName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Existing_Unmatched_Category_to_Variable</name>
        <label>Assign Existing (Unmatched) Category to Variable</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Existing_Category</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_or_Existing_Color</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Hex_Color</name>
        <label>Assign Hex Color</label>
        <locationX>446</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>varColor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>customColorValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_or_Existing_Tag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Matched_Category</name>
        <label>Assign Matched Category</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>varCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Find_Existing_Selection.Category__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_or_Existing_Color</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Matched_Tag</name>
        <label>Assign Matched Tag</label>
        <locationX>644</locationX>
        <locationY>1886</locationY>
        <assignmentItems>
            <assignToReference>varTag</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectTagLU.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Existing_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Category_to_Variable</name>
        <label>Assign New Category to Variable</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_Category</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_or_Existing_Color</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_varName_from_Found_Tag</name>
        <label>Assign varName from Found Tag</label>
        <locationX>644</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>varName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Existing_Selection.Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Possible_Dupe</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_varNameValue</name>
        <label>Assign varNameValue</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varNameValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Normal_Name_Field</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tags_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_varNameValue_Custom</name>
        <label>Assign varNameValue - Custom</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varNameValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Custom_Name_Value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tags_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Vars</name>
        <label>Clear Vars</label>
        <locationX>578</locationX>
        <locationY>3038</locationY>
        <assignmentItems>
            <assignToReference>varCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varColor</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTag</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Tags_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Existing_Unmatched_Color_to_Variable</name>
        <label>Copy 1 of Assign Existing (Unmatched) Color to Variable</label>
        <locationX>248</locationX>
        <locationY>1886</locationY>
        <assignmentItems>
            <assignToReference>varTag</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_Tag</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Tag_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Matched_Category</name>
        <label>Copy 1 of Assign Matched Category</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>varColor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Copy_1_of_Find_Existing_Selection.Color__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_or_Existing_Tag</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>blue</name>
        <choiceText>Blue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>blue</stringValue>
        </value>
    </choices>
    <choices>
        <name>blueviolet</name>
        <choiceText>Blue Violet</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>blueviolet</stringValue>
        </value>
    </choices>
    <choices>
        <name>brightgreen</name>
        <choiceText>Bright Green</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>brightgreen</stringValue>
        </value>
    </choices>
    <choices>
        <name>critical</name>
        <choiceText>Critical</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>critical</stringValue>
        </value>
    </choices>
    <choices>
        <name>green</name>
        <choiceText>Green</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>green</stringValue>
        </value>
    </choices>
    <choices>
        <name>important</name>
        <choiceText>Important</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>important</stringValue>
        </value>
    </choices>
    <choices>
        <name>inactive</name>
        <choiceText>Inactive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>inactive</stringValue>
        </value>
    </choices>
    <choices>
        <name>informational</name>
        <choiceText>Informational</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>informational</stringValue>
        </value>
    </choices>
    <choices>
        <name>lightgrey</name>
        <choiceText>Light Grey</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>lightgrey</stringValue>
        </value>
    </choices>
    <choices>
        <name>orange</name>
        <choiceText>Orange</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>orange</stringValue>
        </value>
    </choices>
    <choices>
        <name>red</name>
        <choiceText>Red</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>red</stringValue>
        </value>
    </choices>
    <choices>
        <name>success</name>
        <choiceText>Success (Green + Default)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>success</stringValue>
        </value>
    </choices>
    <choices>
        <name>yellow</name>
        <choiceText>Yellow</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>yellow</stringValue>
        </value>
    </choices>
    <choices>
        <name>yellowgreen</name>
        <choiceText>Yellow Green</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>yellowgreen</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Found_Custom_Name_Field</name>
        <label>Found Custom Name Field?</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Find_Normal_Name_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Custom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Name_Field</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Custom_Name_Value</targetReference>
            </connector>
            <label>Found Custom</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Possible_Dupe</name>
        <label>Found Possible Dupe?</label>
        <locationX>644</locationX>
        <locationY>2366</locationY>
        <defaultConnector>
            <targetReference>Create_Dupe_Relationship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Dupe_Found_Proceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Possible_Dupe</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Matched_Unique</targetReference>
            </connector>
            <label>No Dupe Found - Proceed</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_Existing_Category</name>
        <label>New or Existing Category</label>
        <locationX>446</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>New_or_Existing_Color</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip - Matched</defaultConnectorLabel>
        <rules>
            <name>Hard_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>useExistingCategory.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Find_Existing_Selection</targetReference>
            </connector>
            <label>Hard Match</label>
        </rules>
        <rules>
            <name>Existing_Category_Unmatched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Existing_Category</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_New_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Existing_Unmatched_Category_to_Variable</targetReference>
            </connector>
            <label>Existing Category - Unmatched</label>
        </rules>
        <rules>
            <name>New_Category</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_New_Category</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Category_to_Variable</targetReference>
            </connector>
            <label>New Category</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_Existing_Color</name>
        <label>New or Existing Color</label>
        <locationX>446</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>New_or_Existing_Tag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip - Matched</defaultConnectorLabel>
        <rules>
            <name>Hard_Match_Color</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>useMatchedColor.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Find_Existing_Selection</targetReference>
            </connector>
            <label>Hard Match Color</label>
        </rules>
        <rules>
            <name>HexColor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colorPicker.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Hex_Color</targetReference>
            </connector>
            <label>Custom HEX</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_Existing_Tag</name>
        <label>New or Existing Tag</label>
        <locationX>446</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>Assign_Matched_Tag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip - Matched</defaultConnectorLabel>
        <rules>
            <name>Use_New_Tag</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectTagLU.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_New_Tag</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Existing_Unmatched_Color_to_Variable</targetReference>
            </connector>
            <label>Use New Tag</label>
        </rules>
    </decisions>
    <decisions>
        <name>Save_What</name>
        <label>Save &amp; What?</label>
        <locationX>446</locationX>
        <locationY>2918</locationY>
        <defaultConnector>
            <targetReference>Clear_Vars</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Save &amp; New</defaultConnectorLabel>
        <rules>
            <name>Save_Done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>navBar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save &amp; Done</stringValue>
                </rightValue>
            </conditions>
            <label>Save &amp; Done</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Categories</name>
        <dataType>String</dataType>
        <displayField>Category__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Category__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Tag__c</object>
        <valueField>Category__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Tag_Name</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Tag__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Removes prefixed # from beginning of hex value</description>
        <name>customColorValue</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!colorPicker.value}, &apos;#&apos;, &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Add_Tags {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Tags ScreenFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Dupe_Relationship</name>
        <label>Create Dupe Relationship</label>
        <locationX>776</locationX>
        <locationY>2486</locationY>
        <connector>
            <targetReference>Save_What</targetReference>
        </connector>
        <inputAssignments>
            <field>Object_Name__c</field>
            <value>
                <elementReference>objectName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Name__c</field>
            <value>
                <elementReference>varNameValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tag__c</field>
            <value>
                <elementReference>Find_Possible_Dupe.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Tag_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Matched_Unique</name>
        <label>Create Matched Unique</label>
        <locationX>512</locationX>
        <locationY>2486</locationY>
        <connector>
            <targetReference>Create_Relationship_Matched_Unique</targetReference>
        </connector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>varCat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Color__c</field>
            <value>
                <elementReference>varColor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!varCat}: {!varName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>varName</elementReference>
            </value>
        </inputAssignments>
        <object>Tag__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Tag_Record</name>
        <label>Create New Tag Record</label>
        <locationX>248</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Create_Tag_Relationship_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>varCat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Color__c</field>
            <value>
                <elementReference>varColor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!varCat}: {!varTag}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>varTag</elementReference>
            </value>
        </inputAssignments>
        <object>Tag__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Relationship_Matched_Unique</name>
        <label>Create Relationship - Matched Unique</label>
        <locationX>512</locationX>
        <locationY>2606</locationY>
        <connector>
            <targetReference>Save_What</targetReference>
        </connector>
        <inputAssignments>
            <field>Object_Name__c</field>
            <value>
                <elementReference>objectName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Name__c</field>
            <value>
                <elementReference>varNameValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tag__c</field>
            <value>
                <elementReference>Create_Matched_Unique</elementReference>
            </value>
        </inputAssignments>
        <object>Tag_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Tag_Relationship_Record</name>
        <label>Create Tag Relationship Record</label>
        <locationX>248</locationX>
        <locationY>2126</locationY>
        <connector>
            <targetReference>Save_What</targetReference>
        </connector>
        <inputAssignments>
            <field>Object_Name__c</field>
            <value>
                <elementReference>objectName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Name__c</field>
            <value>
                <elementReference>varNameValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tag__c</field>
            <value>
                <elementReference>Create_New_Tag_Record</elementReference>
            </value>
        </inputAssignments>
        <object>Tag_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Copy_1_of_Find_Existing_Selection</name>
        <label>Copy 1 of Copy 1 of Find Existing Selection</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_Matched_Category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectTagLU.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tag__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Find_Existing_Selection</name>
        <label>Copy 1 of Find Existing Selection</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Matched_Category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectTagLU.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tag__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Existing_Selection</name>
        <label>Find Existing Selection</label>
        <locationX>644</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_varName_from_Found_Tag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectTagLU.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tag__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Possible_Dupe</name>
        <label>Find Possible Dupe</label>
        <locationX>644</locationX>
        <locationY>2246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Possible_Dupe</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Existing_Selection.Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCat</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tag__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Add_Tags_Flow</name>
        <label>Add Tags Flow</label>
        <locationX>446</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_or_Existing_Category</targetReference>
        </connector>
        <fields>
            <name>heady</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;&lt;u&gt;Create New Tag Relationship&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tag_Name_heady</name>
            <fieldText>Tag Name</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Tag_Name_heady_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>selectTagLU</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Tag__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select Existing Tag</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Tag_Relationship__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>useExistingCategory</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Use matched Category for this Tag Relationship</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>selectTagLU.recordId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>useMatchedColor</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Use matched Color for this Tag Relationship</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>selectTagLU.recordId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Tag_Name_heady_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Create_New_Tag</name>
                    <dataType>String</dataType>
                    <fieldText>Create New Tag</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>colorPicker</name>
                    <extensionName>c:colorPickerFsc</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select Tag Color</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Tag_Category</name>
            <fieldText>Tag Category</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Tag_Category_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Existing_Category</name>
                    <choiceReferences>Categories</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select Existing Category</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Tag_Category_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Create_New_Category</name>
                    <dataType>String</dataType>
                    <fieldText>Create New Category</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>spacer</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255); font-size: 20px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255); font-size: 20px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>navBar</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Save &amp; Done&quot;,&quot;value&quot;:&quot;Save &amp; Done&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:save&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Save &amp; New&quot;,&quot;value&quot;:&quot;Save &amp; New&quot;,&quot;iconPosition&quot;:&quot;right&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:new&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Name_Field</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>objectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varCat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varColor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varNameValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varTag</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varTagIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTags</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Tag__c</objectType>
    </variables>
</Flow>
